/* Top Title */
#top-title {
  height: 50vh;
  width: 100%;
  position: relative;
}

.top-left {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 45%;
  height: 50%;
}

.top-left h1 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* Title SVG */
.title-frame {
  height: 70px;
  width: 45%;
  margin-top: 15px;
  border: 1px solid grey;
}

.title-svg {
  height: 100%;
  width: 100%;
}

#mask_line {
  stroke-dasharray: 2600px;
  animation: h-written 6s infinite;
  stroke: #fff;
}

@keyframes h-written {
  0% {
    stroke-dashoffset: 2600px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

#text {
  mask: url("#mask_ani");
}

.top-right {
  position: absolute;
  right: 5%;
  top: 30%;
  width: 45%;
  height: 30%;
}

.top-left p {
  font-size: 13px;
  max-width: 30%;
  text-align: justify;
  text-justify: inter-ideograph;
}

/* Top Image */
#top-img {
  height: 70vh;
  width: 100%;
}

#top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Company */
#company {
  width: 100%;
}

.company-message {
  margin-left: 5%;
  width: 90%;
  height: 100vh;
}

.company-message h1 {
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 100px 0;
}

.company-message ul {
  width: 100%;
  margin-bottom: 100px;
}

.company-message li {
  width: 100%;
  height: 10vh;
  position: relative;
}

.message {
  position: absolute;
  left: 0;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.05em;
  top: 50%;
  transform: translateY(-50%);
}

.message-body {
  position: absolute;
  left: 40%;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
  top: 50%;
  transform: translateY(-50%);
}

.message-text {
  position: absolute;
  left: 40%;
  top: 30%;
  max-width: 50%;
}

#company-img {
  width: 100%;
  height: 40vh;
  background-image: url("../img/ktworks-front.3df53e93b69b.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(100%);
}

/*#company-img {*/
/*  width: 100%;*/
/*  height: 40vh;*/
/*}*/

/*#company-img img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*  filter: grayscale(100%);*/
/*}*/

/* Company Info */
.info-list {
  width: 90%;
  margin: 20vh 0 0 5%;
  height: 100vh;
  position: relative;
}

.info-list h3 {
  position: absolute;
  left: 0;
  top: 6vh;
  transform: translateY(-50%);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.info-list ul {
  position: absolute;
  left: 40%;
  width: 60%;
}

.info-list li {
  width: 100%;
  height: 12vh;
  position: relative;
}

.info-title {
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  border-top: solid 1px black;
}

.info-title h3 {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.info-text {
  position: absolute;
  left: 30%;
  height: 100%;
  width: 70%;
  border-top: solid 1px black;
}

.info-text h3 {
  font-size: 15px;
  letter-spacing: 0.05em;
}

/* Company Info Map */
.info-map {
  width: 90%;
  margin-left: 5%;
  height: 50vh;
  background-color: white;
}
