body {
  background-color: rgb(237, 237, 232);
  margin: 10vh 0 0 0;
  transition: 1s;
  font-family: sans-serif;
  color: rgb(34, 40, 53);
}

.active-body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.grey-a:hover {
  color: #666;
}

/* Header  */
header {
  height: 10vh;
  width: 100%;
  position: relative;
  z-index: 2;
  position: fixed;
  top: 0px;
}

.active-header img {
  filter: invert(100%);
}

.active-header .menu-line {
  background: #fff;
  top: 50%;
}

.active-header li:not(.header-menu) {
  display: none;
}

.logo-space {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  height: 5vh;
}

.logo-space img {
  height: 100%;
  mix-blend-mode: multiply;
}

.header-left {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 7vh;
  width: 30%;
}

.header-left li {
  margin-right: 4vh;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.header-menu {
  height: 20%;
  width: 5vh;
  position: relative;
  transition: all 1s ease;
}

.menu-line {
  position: absolute;
  background: rgb(34, 40, 53);
  display: block;
  height: 2px;
  width: 100%;
  transition: transform 0.3s;
}

.menu-line:last-of-type {
  bottom: 0;
}

.active-line-top {
  transform: rotate(30deg);
  bottom: 8px;
}

.active-line-bottom {
  transform: rotate(150deg);
  bottom: 10px;
}

/* フルスクリーンメニュー 表示 */
.full-nav {
  width: 100%;
  position: fixed;
  background: rgb(34, 40, 53);
  height: 0;
  opacity: 0;
  transition: all 1s ease;
  transform: translate(0, 100vh);
  z-index: 1;
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.full-nav-active {
  opacity: 1;
  height: 100%;
  transform: translate(0, 0);
}

.nav-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 5vh 0;
}

.nav-item a {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  padding: 40px;
  transition: 0.5s;
}

.nav-item a:hover {
  color: #666;
}

/* Fade In 関係 */
.fade-in {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 100px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.delay11 {
  transition-delay: 1s;
}

.delay12 {
  transition-delay: 1.1s;
}

.delay13 {
  transition-delay: 1.2s;
}

.delay14 {
  transition-delay: 1.3s;
}

/* Footer */
footer {
  margin-top: 20vh;
  width: 100%;
  height: 30vh;
  position: relative;
}

.footer-left {
  position: absolute;
  height: 100%;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-logo {
  height: 5vh;
}

.footer-logo img {
  height: 100%;
  mix-blend-mode: multiply;
}

.footer-left ul {
  display: flex;
  justify-content: flex-start;
}

.footer-left li {
  margin-right: 5vh;
}

.footer-left p {
  font-size: 12px;
  letter-spacing: 0.05em;
}

.footer-right {
  position: absolute;
  right: 5%;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-right span {
  width: 100%;
  height: 50px;
  /*border-bottom: 3px solid rgb(34, 40, 53);*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right span::after{
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: rgb(34, 40, 53);
  transform: scale(1, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.footer-right span:hover::after{
  transform-origin: right top;
  transform: scale(0, 1);
}

.footer-right h3 {
  font-weight: bold;
  padding: 2vh 1vh;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1;
}
