/* Top menu */
#top-menu {
  margin-left: 5%;
  width: 90%;
  height: 40vh;
  position: relative;
}

#top-menu h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* Contact Form */
#contact-form {
  width: 90%;
  margin-left: 5%;
  height: 120vh;
}

#contact-form form {
  width: 100%;
  height: 100%;
  position: relative;
}

#contact-form ul {
  width: 100%;
  height: 100%;
}

#contact-form li:not(:last-of-type) {
  width: 100%;
  margin-bottom: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-form li:last-of-type {
  width: 100%;
  position: relative;
}

#contact-form li h4 {
  font-size: 20px;
  letter-spacing: 0.05em;
}

#contact-form li input {
  width: 70%;
  height: 8vh;
  border: none;
  font-size: 20px;
}

#contact-form li:last-of-type h4 {
  position: absolute;
  left: 0;
}

#contact-form li textarea {
  width: 70%;
  height: 50vh;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

.submit-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 8vh;
  border: none;
  background-color: #fff;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: bold;
}